@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.4em;
    }
    h3 {
        margin: 0px;
    }
    .alert {
        padding: 8px;
    }
    #gc-form-login input {
        margin: 5px 0;
    }
    #download-gpx, #download-gpx-gm {
        margin-top: 5px;
    }
    hr {
        margin: 10px 0;
    }
}

body {
    margin-bottom: 1em;
}
label {
    font-weight: normal;
    margin-bottom: 0;
}

#signin {
    display: inline-block;
    font-size: 1.4em;
}

#glyphicon-help {
    font-size: 2em;
    color: #000;
}

#glyphicon-help:hover {
    text-decoration: none;
}

.head-pick, .head-status {
    width: 50px;
}

tr th {
    background-color: #D0E3F0;
}
.link a {
    display: block;
}
.head-pick,
.head-link,
.link,
#table-caches tbody td:first-child,
#table-caches tbody td:last-child,
#table-caches-gm tbody td:first-child {
    text-align: center;
}
#table-caches label, #table-caches-gm label {
    display: block;
    cursor: pointer;
}
#table-unpublished-caches, #table-unpublished-caches-gm,
#fetching-unpublished-caches {
    display: none;
}

#gc-form-login {
    width: 500px;
}

#gc-form-login input[type="text"], #gc-form-login input[type="password"] {
    width: 180px;
}
.method {
    padding-left: 1em;
}
